* {
  background-color: rgb(255, 255, 255);
}
.login__wrapper {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}
.login__main {
  width: 55rem;
  padding: 20px;
  /* background-color: #fff!important; */
  box-shadow: 0px 0px 20px rgb(181, 178, 178);
  @media screen and (max-width: 500px) {
    min-height: 100vh;
    min-width: 100vw;
  }

  @media screen and (max-width: 900px) {
    width: 50rem;
  }

  @media screen and (max-width: 769px) {
    width: 30rem;
  }
}
.login__img {
  padding: 0;
  height: 500px;
  img {
    width: 100%;
    height: 100%;
  }
}

.login__form-container {
  height: 500px;
  /* border: 1px solid black; */
  form {
    width: 100%;
    div {
      display: flex;
      border-bottom: 1px solid black;
      margin: 30px;
    }

    input,
    select {
      flex-wrap: wrap;
      border: none;
      outline: none;
      width: 100%;
      cursor: pointer;
      /* text-align: center; */
      @media screen and (max-width: 350px) {
        width: 100% !important ;
      }
    }
  }
}
input[type="submit"] {
  @media screen and (max-width: 350px) {
    width: 100% !important ;
  }
}

input[type="submit"]:hover {
  border: 1px solid black;
  background-color: aliceblue !important;
  color: black !important;
}

a{
    text-decoration: none;
    color: black;
    font-weight: 700;
}
